<!DOCTYPE html>
<html>
	<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111160453-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-111160453-1');
        </script>


        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/views/assets/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
        <title>RideShare</title>
	</head>
	<body>
    <div id="content">
        <section id="landing">
            <div class="name">Driver <img src="/views/assets/img/clock_icon.png" width="10%" height = "10%"/></div>
            <div id="intro">
                <% driver.forEach((element)=>{ %>
                    <p>Starting Address: <%=element.startLoc%> </br> Destination Address: <%=element.endLoc%> </br>Depart: <%=element.tripDate%> </p><br>
            
                <%}); %>
                <p>Hello Driver</p>
                
                <!-- <p>1.</p><p>Starting Address: Santa Barbara, CA 93106</p>
                <p>Destination Address: Irvine, CA 92697</p>
                <p>Depart: 1/12/2019 at 9:00am</p>
                <p>Return: 1/12/2019 at 11:00pm</p>
                
                <p>2.</p><p>Starting Address: Santa Barbara1, CA 93106</p>
                <p>Destination Address: Irvine1, CA 92697</p>
                <p>Depart: 1/12/2019 at 9:01am</p>
                <p>Return: 1/12/2019 at 11:01pm</p> -->
                

        
            <div class="name">Passenger<img src="/views/assets/img/route_icon.png" width="10%" height = "10%"/></div> 
            <% passenger.forEach((element)=>{ %>
                <p>Starting Address: <%=element.startLoc%> </br> Destination Address: <%=element.endLoc%> </br>Depart: <%=element.tripDate%> </p><br>
        
            <%}); %>
            <p>Hello passenger</p>
            <br>
            <div class="name">Vehicles</div>
            <% vehicle.forEach((element)=>{ %>
                <p>Number of seats: <%=element.numSeats%> </br> Make: <%=element.make%> </br>Model: <%=element.model%></br>
                    Manufacture Year: <%=element.manufactureYear%></br>Color: <%=element.color%> </p><br>
        
            <%}); %>
            <!-- <p>1.</p>
            <p>Starting Address: Santa Barbara, CA 93106</p>
            <p>Destination Address: Irvine, CA 92697</p>
            <p>Depart: 1/12/2019 at 9:00am</p>
            <p>Return: 1/12/2019 at 11:00pm</p>
            <button type="button" onclick="alert('Next')">Next</button>
            <p>2.</p><p>Starting Address: Santa Barbara, CA 93106</p>
            <p>Destination Address: Irvine, CA 92697</p>
            <p>Depart: 1/12/2019 at 9:00am</p>
            <p>Return: 1/12/2019 at 11:00pm</p> -->
            <form action = "/user/vehicle">
                <input type = "submit" value = "Add Vehicle"/>
            </form>
            <form action = "/user/driver">
                <input type = "submit" value = "Add New Driving Route">
            </form>
            <form action = "/user/rider">
                <input type = "submit" value = "Add New Passenger Route">
            </form>
            <br><button type="button" onclick="alert('Logging Out')">Logout</button>
            
	</body>
	<script type="text/javascript" src="/views/assets/js/script.js"></script>
</html>

                
                
            </div>
            
	</body>
	<script type="text/javascript" src="/views/assets/js/script.js"></script>
</html>
